html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: 0;
}
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    background: #e6eff6;
}

.main-header{
    background: #2d3748;
}

.header-text p{
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
    color: #f7fafc;
}

.main-content{
    flex: 1 0 auto;
}

.main-footer {
    flex-shrink: 0;
}
