:root{
    --main-bg-color: #2d3748;
    --sec-bg-color: #e6eff6;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    background: var(--sec-bg-color);
    hyphens: auto;
}

.main-header{
    background: var(--main-bg-color);
}

.bg-dark {
    background: var(--main-bg-color) !important;
}

.header-text p{
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
    color: #f7fafc;
}

.main-content{
    flex: 1 0 auto;
}

.main-footer {
    flex-shrink: 0;
    font-size: 0.7rem;
    text-align: center;
}
