/*import 'node_modules/bootstrap/dist//css/bootstrap.min.css';*/
/*@import "normalize.css";*/

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    background: #e6eff6;
    hyphens: auto;
}

.main-header{
    background: #2d3748;
}

.header-text p{
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
    color: #f7fafc;
}

.main-content{
    flex: 1 0 auto;
}

.main-footer {
    flex-shrink: 0;
}
